/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

html,body #root{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  background:'#282c340';
}
@font-face {
  font-family: Akira;
  src: url("./components/assets/fonts/Akira.otf");
}

.atomic{
  /* width:100%; */
  /* left:10vw; */
  display: flex;
  font-size: 8vw;
  text-align: center;
  font-family: Akira;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
